body {
    margin: 0;
    padding: 0;
    font-family: 'tahoma', sans-serif;
}

/*So the header and footer bg color fills their region without the body margins affecting it */

h1,
h2,
h3,
p {
    /*text layout*/
    text-align: justify;
}

h1,
h2,
h3 {
    color: #012f51;
}

img {
    max-width: 100%;
    /*image scales with screen*/
    height: auto;
    border: 3px solid lightgrey;
}

.header {
    /*header layout*/
    display: flex;
    /*flexbox for hoziontal element arrangement*/
    padding: 10px;
    background-color: lightgrey;
    align-items: center;
    /*vertially centers elements in parent container*/
}

#webLogo {
    /*margins*/
    margin-left: 5%;
    margin-right: 20%;
}

.siteLinks {
    /*site link layout*/
    flex-grow: 1;
    /*divides equal space to the links*/
    text-align: center;
    /*centers elements in its container (div)*/
    font-size: 20px;
}

.navLinks:link,
.navLinks:visited {
    color: black;
    text-decoration: none;
}

.navLinks:hover,
.navLinks:active {
    color: blue;
    text-decoration: none;
}

.body {
    display: flex
        /*flex layout to give a margin to center content*/
}

.body p {
    font-size: 1.2rem;
}

#leftMargin {
    flex: 0 1 10%;
    /*Left margin which is 10% of the display*/
    background-color: #012f51;
}

#main {
    flex: 1 1 auto;
    /*Main content section*/
    padding-left: 5%;
    padding-right: 5%;
}

#rightMargin {
    flex: 0 1 10%;
    /*Right margin which is 10% of the display*/
    background-color: #012f51;
}

#abtusTitle {
    text-align: center;
    font-size: 2.5rem;
}

#img1,
#img2 {
    /*img layout*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*centers image*/
    max-height: 500px;
}

.aboutOrg {
    /*margins*/
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 100px;
}

.aboutFounder {
    display: grid;
    /*grid display for horizontal element arrangement*/
    grid-template-columns: 70% 30%;
    /*percentage of space taken of each element*/
    gap: 30px;
    /*gap between grid columns*/
    margin-top: 50px;
    margin-bottom: 100px;
    /*margins*/
}

.inspoSiteSection {
    overflow: auto;
    display: flex;
    /*flex for horizontal arrangement*/
    justify-content: center;
    /*centers the content horizontally*/
    gap: 50px;
    margin-bottom: 30px;
}

.inspoSiteSection h2,
.relatedSites {
    text-align: center;
}

.inspoSiteSection p {
    font-size: 1.25rem;
}

.irsR2 {
    flex: 0 1 20%;
    /*margin of 2nd row for formatting*/
}

.irsImg {
    float: left;
    width: 40%;
    /*image scale*/
    height: auto;
    max-width: 333px;
    max-height: 400px;
    margin-right: 20px;
}

.buttonContainer {
    display: flex;
    /*flex for centering button in its container*/
    justify-content: center;
    align-items: center;
}

.buttonContainer a {
    font-size: 1rem;
    /*for some reason putting this in .ctabutton or .button doesn't work*/
}

.irsButton {
    /*call to action button formatting*/
    padding: 10px;
    border: 3px solid #012f51;
    background-color: #012f51;
    color: white;
    width: fit-content;
    /*so border wraps properly around the text*/
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    /*hyperlink formatting*/
}

.bottomPart {
    display: grid;
    /*grid display for horizontal element arrangement*/
    grid-template-columns: 50% 50%;
    /*percentage of space taken of each element*/
    gap: 20px;
    /*gap between grid columns*/
    margin-top: 70px;
    margin-bottom: 100px;
    /*margins*/
}

.bDivTitles {
    padding: 30px 50px;
    border: 3px solid #012f51;
    background-color: lightgrey;
    color: black;
    border-radius: 12px;
    width: fit-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.contactInfo {
    font-weight: bold;
}

#iconLinks {
    width: 50%;
    padding: 0px;
    margin: auto;
    list-style-type: none;
    display: grid;
    /*grid display for horizontal element arrangement*/
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /*percentage of space taken of each element*/
    justify-items: center;
    gap: 5px;
}

#iconLinks a {
    display: block;
    /*so hyperlinks have height and width*/
    width: 50px;
    height: 50px;
    /*so the clickable area encompasses the area of the sprite*/
    color: white;
}

#link1 {
    background: url('../images/socmedSprite.jpg') no-repeat -35px -162px;
    background-size: 313px 313px;
    width: 51px;
    height: 51px;
    /*making the sprite*/
}

#link2 {
    background: url('../images/socmedSprite.jpg') no-repeat -99px -228px;
    background-size: 313px 313px;
    width: 51px;
    height: 50px;
    /*making the sprite*/
}

#link3 {
    background: url('../images/socmedSprite.jpg') no-repeat -98px -163px;
    background-size: 313px 313px;
    width: 52px;
    height: 50px;
    /*making the sprite*/
}

#link4 {
    background: url('../images/socmedSprite.jpg') no-repeat -164px -35px;
    background-size: 313px 313px;
    width: 50px;
    height: 50px;
    /*making the sprite*/
}

/*When you hover over them, an outline appears*/
#link1:hover {
    outline: 2px solid blue;
}

#link2:hover {
    outline: 2px solid red;
}

#link3:hover {
    outline: 2px solid blueviolet;
}

#link4:hover {
    outline: 2px solid black;
}

.references p,
.references li {
    font-size: 1rem;
}

.footer {
    display: flex;
    /*flex for horizontal arrangement*/
    padding: 10px;
    background-color: lightgrey;
    align-items: center;
    /* vertically center*/
}

.footerContent {
    /*layout for footer content*/
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.footerContent a:link,
.footerContent a:visited {
    /*hyperlink formatting v2*/
    color: black;
    text-decoration: none;
}

.footerContent a:hover,
.footerContent a:active {
    color: blue;
    text-decoration: none;
}