body {
    margin: 0;
    padding: 0;
    font-family: 'tahoma', sans-serif;
} /*So the header and footer bg color fills their region without the body margins affecting it */

.text {
    font-family: verdana;
}

table, th, td { /*table layout*/
    border: 2px solid black;
    border-collapse: collapse;
    margin-left: 50px;
    padding: 5px;
    text-align: center;
    font-size: 1.2rem;
}

h1, h2, h3, p { /*text layout*/
    text-align: justify;
}
h1, h2, h3 {
    color: #012f51;
}

img {
    max-width: 100%;
    /*image scales with screen*/
    height: auto;
    border: 3px solid lightgrey;
}

.header { /*header layout*/
    display: flex; /*flexbox for hoziontal element arrangement*/
    padding: 10px;
    background-color: lightgrey;
    align-items: center; /*vertially centers elements in parent container*/
}

#webLogo { /*margins*/
    margin-left: 5%;
    margin-right: 20%;
}

.siteLinks { /*site link layout*/
    flex-grow: 1; /*divides equal space to the links*/
    text-align: center; /*centers elements in its container (div)*/
    font-size: 20px;
}

.navLinks:link, .navLinks:visited { /*hyperlink formatting*/
    color: black;
    text-decoration: none;
}
.navLinks:hover, .navLinks:active {
    color: blue;
    text-decoration: none;
}

.body {
    display: flex /*flex layout to give a margin to center content*/
}

.body p {
    font-size: 1.2rem;
}

#leftMargin {
    flex: 0 1 10%; /*Left margin which is 10% of the display*/
    background-color: #012f51;
}

#main {
    flex: 1 1 auto; /*Main content section*/
    padding-left: 5%;
    padding-right: 5%;
}

#rightMargin {
    flex: 0 1 10%; /*Right margin which is 10% of the display*/
    background-color: #012f51;
}

#bgTitle {
    font-size: 3rem;
}

.bgProblem {
    display: grid; /*grid display for horizontal element arrangement*/
    grid-template-columns: 60% 40%;  /*percentage of space taken of each element*/
    gap: 30px; /*gap between grid columns*/
}

.bgParagraph { /*margins*/
    margin-top: 0;
    padding-top: 0;
}

#bgTable { 
    size: 80%;
    margin-right: auto;
    margin-left: auto; /*aligns the table to the center*/
}

#bgSources, #wbdTitle, #ctaTitle {
    text-align: center;
}

#tableTitle {
    text-align: center;
    font-size: 1.5rem;
}

.wbd {
    display: grid; /*grid display for horizontal element arrangement*/
    grid-template-columns: 40% 60%; /*percentage of space taken of each element*/
    gap: 30px; /*gap between grid columns*/
}

#wbdImg, #wwciImg2 { /*img layout*/
    text-align: center;
    margin-left: auto;
    margin-right: auto; /*centers image*/
}

.wwci { 
    display: grid; /*grid display for horizontal element arrangement*/
    grid-template-columns: 60% 40%; /*percentage of space taken of each element*/
    gap: 30px; /*gap between grid columns*/
}

.ctaSection {
    overflow: auto;
    display: flex; /*flex for horizontal arrangement*/
    justify-content: center; /*centers the content horizontally*/
    gap: 50px;
}



.ctaSection h2 {
    text-align: center;
}

.ctaSection p {
    font-size: 1.5rem;
}

.ctaImg {
    float: right;
    width: 40%;  /*image scale*/
    height: auto;  
    max-width: 333px; 
    max-height: 400px;  
    margin-left: 20px;
}

.button {
    display: grid; /*grid for horizontal arrangement*/
    grid-template-columns: 1fr 1fr 1fr; /*buttons go below the cta*/
    margin-top: 21px;
    margin-bottom: 100px;
}

.buttonContainer { 
    display: flex; /*flex for centering button in its container*/
    justify-content: center;
    align-items: center;
    clear: right;
}

.button a {
    font-size: 1rem; /*for some reason putting this in .ctabutton or .button doesn't work*/
}

.ctaButton { /*call to action button formatting*/
    clear: right; /*clears the float so button is below image*/
    padding: 10px;
    border: 3px solid #012f51;
    background-color: #012f51;
    color: white;
    width: fit-content; /*so border wraps properly around the text*/
    border-radius: 12px;
    text-align: center;
    text-decoration: none; /*hyperlink formatting*/
}

.references p, .references li {
    font-size: 1rem;
}

.footer {
    display: flex; /*flex for horizontal arrangement*/
    padding: 10px;
    background-color: lightgrey;
    align-items: center;
    /* vertically center*/
}
 
.footerContent { /*layout for footer content*/
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.footerContent a:link, .footerContent a:visited { /*hyperlink formatting v2*/
    color: black;
    text-decoration: none;
}
.footerContent a:hover, .footerContent a:active {
    color: blue;
    text-decoration: none;
}