body {
  background-image: url(backgroundImg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
h1 {
    text-align: center;
    background-color: rgb(205, 205, 218);
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    width:250px;
    border: 2px dotted rgb(0, 0, 255);
    margin: 20px;
}

p {
    text-align: justify;
    font-style: italic;
    background-color: hsl(202, 39%, 58%);
    border: 3px solid rgb(0, 0, 0);
    border-top-style: dashed;
    border-bottom-style: initial;
    border-left-style: groove;
    border-right-style: ridge;
    padding: 20px;
    width: 500px;
}

span {
    font-weight: bold;
    color: darkblue;
    margin-left: 2px;
    margin-right: 5px;
}
