body {
    margin-top: 0px;
    margin-bottom: 0px;
}
h2, h3, p {
    font-family: 'Trebuchet MS', Arial;
    text-align: center;
    width: 40%;
    margin: auto;
}
p {
    font-size: medium;
}
#content {
    width: 70%;
    margin: auto;
    background-color: lightskyblue;
    padding-bottom: 50px;
}
#playIcon {
    font-size: 50px;
    float: left;
    margin-right: 10px; 
}
#box {
    border: 2px solid black;
    position: fixed;
    left: 15%;
    bottom: 0;
    width: fit-content;
    padding: 10px;
    background-color: lightskyblue;
}

#box p {
    font-size: 10px;
    text-align: left;
    margin: 5px;
    width: auto;
}